@charset "utf-8";
/* CSS Document */

:root {
	font-size: 16px;
}

body,td,th,p{
	font-family: "Lato", Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.6;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

img, embed, object, video {
	max-width: 100%;
}

ul, li {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

nav, .filter-options {
	display: flex;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, section {
	display: block;
}

.main-content-container {
  background-color: #f3f3f3;
  min-height: 100%;
}

footer {
  background-color: #444;
  color: #aaa;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

footer small {
	font-size: 0.8rem;
  letter-spacing: 1px;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: #252831;
	padding: 20px 0;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.breadcrumbs {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
.breadcrumbs li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
.map-item {
  height: 45vh;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #3397DB;
  align-items: center;
	justify-content: center;
	padding: 1em 0;
	flex-wrap: wrap;
}

.filter-options h2 {
  color: white;
  font-size: 1.6rem;
  line-height: 1;
	text-align: center;
}

.select-fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
	font-size: 1rem;
  height: 2.3em;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  min-width: 200px;
	width: 100%;
	color: #3397DB;
}

/* ====================== Restaurant Listing ====================== */
.restaurants-assort {
  background-color: #f3f3f3;
	display: inline-block;
  list-style: outside none none;
  margin: 0 auto;
	max-width: 1200px;
  padding: 30px 15px 60px;
  text-align: center;
}

.restaurants-assort li {
  background-color: #fff;
	box-shadow: 1px 3px 10px 1px #E3E2E2;
	float: left;
	margin-right: 20px;
  text-align: left;
}

.restaurants-assort .restaurant-images {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

@supports (object-fit:cover) {
	.restaurants-assort .restaurant-images {
		object-fit: cover;
	}
}

.info-container {
	padding: 15px;
}

.restaurants-assort li h3 {
  color: #252831;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.restaurants-assort p {
  margin: 0;
}

.restaurants-assort li a {
  background-color: #252831;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  margin-top: 1.4em;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	transition: background-color 0.2s ease-in;
}

.restaurants-assort li a:hover {
	background-color: #3397DB;
}

/* ====================== Restaurant Details ====================== */
.inside {
	position: relative;
	width: 100%;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.map-section {
  background: blue none repeat scroll 0 0;
  height: 45vh;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.restaurant-title {
  color: #252831;
	font-size: 2em;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-images {
	width: 90%;
}

.restaurant-location {
  margin: 10px 0px;
}

.restaurant-type {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	max-width: 100%;
}

.restaurant-details, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 1em;
}

.restaurant-details h2 {
  color: #f58500;
  letter-spacing: -1px;
}

.restaurant-details img {
	width: 100%;
}

.review-list {
  margin: 0;
  padding: 0;
}

.review-list h4 {
	margin: 0 0 1em 0;
}

.review-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;
  max-width: 100%;
}

.review-list li p {
  margin: 0 0 10px;
}

.restaurant-opening td {
  color: #666;
}

@supports (display:grid) {
	.restaurants-assort {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.restaurants-assort li {
		float: none;
		margin-right: 0;
	}
}

@media only screen and (min-width: 600px) {
	.filter-options {
		padding: 2em 0;
	}

	.filter-options h2 {
		font-size: 2em;
		margin: 0;
	}

	.filter-options select {
		width: 45%;
	}

	.restaurant-details, #reviews-container {
	  padding: 2.3em;
	}
}

@media only screen and (min-width: 990px) {
	.select-fields {
		align-items: center;
		width: 45%;
	}

	.map-section {
	  background: blue none repeat scroll 0 0;
	  height: 100%;
	  position: absolute;
	  right: 0;
	  top: 0;
	  width: calc(50% - 2.3em);
	}

	.map-section.sticky {
		position: fixed;
	}

	.restaurant-details, #reviews-container {
		width: calc(50% - 2.3em);
	}

	footer {
		position: absolute;
		width: 100%;
	}
}
